<header>
  <h1>Realizacja zamówienia</h1>

  <p>Już tylko jeden krok dzieli Cię od podarowania prezentu</p>
</header>

<div class="container">
    <h3>Realizacja zamówienia</h3>

      <div id="alert" *ngIf="showAlert" [ngClass]="{'teal': isGreenAlertShow(), 'red': isRedAlertShow()}" class="card-panel lighten-2">{{alert}}</div>

      <table class="striped">
        <thead>
          <tr>
              <th>Tytuł produktu</th>
              <th>Opis produktu</th>
              <th>Ilość</th>
              <th>Cena (szt.)</th>
              <th>Cena</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.title}}</td>
            <td class="product-description">{{product.description}}</td>
            <td>{{product.counter}}</td>
            <td>{{product.price / 100.0}} zł</td>
            <td>{{(product.price * product.counter) / 100.0}} zł</td>
          </tr>
          <tr style="border-top: 1px solid #3D5AFE;">
              <td><strong>Podsumowanie</strong></td>
              <td></td>
              <td><strong>{{getItemCounter()}}</strong></td>
              <td></td>
              <td><strong>{{getItemPrices() / 100.0}} zł</strong></td>
          </tr>
        </tbody>
      </table>

      <div class="actions">
        <a id="submit_form" (click)="createOrder()" *ngIf="products.length > 0" class="waves-effect waves-light btn-large red lighten-2"><i class="material-icons left">send</i>Zamów</a>
      </div>
</div>