.card-title {
    text-shadow: 2px 2px 4px #000000;
}

.cart-button {
    position: fixed;
    right: 14px;
    top: 79px;
    background-color: black;
    box-shadow: none;
}

.price {
    color: #fff;
    font-weight: 600;
}

.card a {
    background-color: #3D5AFE;
}

.card-content {
    min-height: 92px;
    font-size: 11px;
}

header {
    background-image: url('../../assets/picture_1.png');
}
