<header>
    <h1>Stwórz prezent marzeń dla siebie lub bliskiej osoby!</h1>

    <p>
        Prezenty towarzyszą nam przez całe życie, wręczamy i 
        otrzymujemy je na różne okazje. Dzięki nam możesz podarować prezent w formie przeżyć – 
        podaruj komuś emocje i doświadczenia!
    </p>
</header>

<div class="container">
    <h3>Lista produktów</h3>
    
    <a class="btn cart-button"><i class="material-icons left">shopping_basket</i>{{getItemsCounter()}} ({{getItemsPrice() / 100}} zł)</a>
    
    <div class="row">
      
        <div class="col s6 m4" *ngFor="let product of products">
            <div class="card">
                <div class="card-image">
                    <img src="{{product.image}}">
                    <span class="card-title">{{product.price}} <span class="price">({{product.price / 100.0}} zł)</span></span>
                    <a id="product_{{product.productId}}" (click) = "addToCart(product)" class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>{{product.description}}</p>
                </div>
            </div>
        </div>

    </div>
  </div>
  
